<%= content_tag(:label, "Goals", for: "goals") %>
<%= inputs_for @daily_form, :goals, fn g -> %>
  <div class="row">
    <div class="col-10 goal-input">
      <%= text_input g, :body, class: "form-control", id: "goal-#{g.index}" %>
      <%= error_tag g, :body %>
    </div>
    <div class="col">
      <%= content_tag(:button, "Remove", class: "btn btn-danger remove-btn", id: "remove_goal#{g.data.id}", type: "button") %>
    </div>
  </div>
<% end %>
