<%= content_tag(:label, "Goals", for: "goals") %>
<%= inputs_for @daily_form, :goals, [append: Enum.map((1..5), fn _ -> %Bearings.Dailies.Goal{} end)], fn g -> %>
  <div class="row">
    <div class="col-10 goal-input">
      <%= text_input g, :body, class: "form-control", id: "goal-#{g.index}" %>
      <%= error_tag g, :body %>
    </div>
    <div class="col">
      <%= checkbox g, :mark_for_delete %> Delete
    </div>
  </div>
<% end %>
