<div class="container daily-form">
  <h3 class="text-primary">Plan a New Day</h3>
  <%= render "form.html", Map.put(assigns, :action, daily_path(@conn, :create, @conn.assigns.current_user)) %>
</div>
