
@import "./variables";
@import "node_modules/bootstrap/scss/bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "fontawesome";
@import "fa-brands";
@import "fa-regular";
@import "fa-solid";

.navbar-light .navbar-brand {
  color: $primary;
}

.daily-form .form-group {
  margin-top: 2em;
}

.daily-form label {
  font-size: 1.2rem;
  font-weight: bold;
}

.daily-form .form-text {
  font-size: 0.9rem;
}

.daily-list {
  margin-top: 2em;
}

.daily-card {
  border: 1px solid $secondary;
  padding: 0;
  min-height: 120px;
}

.daily {
  overflow: auto; //prevent margin collapsing of inside elements with outside container
  border: 1px solid $primary;
  padding: 0;
  margin: 0 auto;

  h1 {
    font-size : 1.5rem;
  }

  h2 {
    font-size : 1.25rem;
  }

  h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

.daily-title {
  background-color: $primary;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

.daily-footer {
  text-transform: uppercase;
}

.markdown {
  height: 20em;
}

.markdown-show {
  font-family: 'EB Garamond', serif;
}

.avatar:hover{
  border-radius: 50% 50% 50% 50%;
  transform: scale(0.90) translate(0px);
}

.avatar {
  margin: 0.4em;
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 50%;
  transition:All 0.2s ease;
  transform: scale(1);
  text-decoration: none;
}

.goals-form > .row {
  margin-top: 1em;
}

.goal {
  font-family: 'EB Garamond', serif;
}
