html {
  font-size: $font-size-base;
}

body {
  background-color: #131422;
 }

 h1 {
   font-size: $font-size-h1;
 }

 h2 {
   font-size: $font-size-h2;
 }

 h3 {
   font-size: $font-size-h3;
 }

 h4 {
   font-size: $font-size-h4;
 }

 small {
   font-size: $font-size-small;
 }
