
//       Margin

.u-push {

  &-none {
    margin: 0px !important;

    &-top {
      margin-top: 0px !important;
    }

    &-right {
      margin-right: 0px !important;
    }

    &-bottom {
      margin-bottom: 0px !important;
    }

    &-left {
      margin-left: 0px !important;
    }
  }

  &-xs {
    margin: $spacer/4 !important;

    &-top {
      margin-top: $spacer/4 !important;
    }

    &-right {
      margin-right: $spacer/4 !important;
    }

    &-bottom {
      margin-bottom: $spacer/4 !important;
    }

    &-left {
      margin-left: $spacer/4 !important;
    }
  }

  &-sm {
    margin: $spacer/2 !important;

    &-top {
      margin-top: $spacer/2 !important;
    }

    &-right {
      margin-right: $spacer/2 !important;
    }

    &-bottom {
      margin-bottom: $spacer/2 !important;
    }

    &-left {
      margin-left: $spacer/2 !important;
    }
  }

  &-md {
    margin: $spacer !important;

    &-top {
      margin-top: $spacer !important;
    }

    &-right {
      margin-right: $spacer !important;
    }

    &-bottom {
      margin-bottom: $spacer !important;
    }

    &-left {
      margin-left: $spacer !important;
    }
  }

  &-lg {
    margin: $spacer*2 !important;

    &-top {
      margin-top: $spacer*2 !important;
    }

    &-right {
      margin-right: $spacer*2 !important;
    }

    &-bottom {
      margin-bottom: $spacer*2 !important;
    }

    &-left {
      margin-left: $spacer*2 !important;
    }
  }

  &-xl {
    margin: $spacer*3 !important;

    &-top {
      margin-top: $spacer*3 !important;
    }

    &-right {
      margin-right: $spacer*3 !important;
    }

    &-bottom {
      margin-bottom: $spacer*3 !important;
    }

    &-left {
      margin-left: $spacer*3 !important;
    }
  }

  &-xxl {
    margin: $spacer*4 !important;

    &-top {
      margin-top: $spacer*4 !important;
    }

    &-right {
      margin-right: $spacer*4 !important;
    }

    &-bottom {
      margin-bottom: $spacer*4 !important;
    }

    &-left {
      margin-left: $spacer*4 !important;
    }
  }
}

.small-text {
  font-size: .8rem;
}
