// Brand Colors
// $primary: #28546C;
// $secondary: #53839D;
// $theme-colors: (primary: $primary, secondary: $secondary);

// // Fonts

$font-size-base: 16px;
$font-size-h1: 1.999rem;
$font-size-h2: 1.414rem;
$font-size-h3: 1.2rem;
$font-size-h4: 1.2rem;
$font-size-small: .8rem;

// $font-family-sans-serif: -apple-system, 'Chivo', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
// $font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
