// Brand Colors
$primary: #28546C;
$secondary: #53839D;
$theme-colors: (primary: $primary, secondary: $secondary);

// Fonts
$font-family-sans-serif: -apple-system, Lato, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
