// Brand Colors
// $primary: #28546C;
// $secondary: #53839D;
// $theme-colors: (primary: $primary, secondary: $secondary);

// // Fonts

$font-size-base: 16px;
$font-size-h1: 1.999rem;
$font-size-h2: 1.414rem;
$font-size-h3: 1.2rem;
$font-size-h4: 1.2rem;
$font-size-small: .8rem;

//       Measurements


$spacer: 1rem;
$radius: .3rem;

$spacer-xs: $spacer*0.25;
$spacer-sm: $spacer*0.5;
$spacer-md: $spacer;
$spacer-lg: $spacer*2;
$spacer-xl: $spacer*3;
$spacer-xxl: $spacer*4;

// $font-family-sans-serif: -apple-system, 'Chivo', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
// $font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
