<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Serif" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">Bearings</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%= if @current_user do %>
            <ul class="navbar-nav right">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <%= link "Dailies", to: dailies_path(@conn, :index), class: "nav-link" %>
                </li>
              </ul>
              <li class="nav-item dropdown">

                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-test="current_user">
                  <%= @current_user.name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link "Logout", to: auth_path(@conn, :delete), method: "delete", class: "dropdown-item" %>
                </div>
              </li>
            </ul>
          <% else %>
            <div class="navbar-nav">
              <%= link to: auth_path(@conn, :index, :github), class: "nav-item nav-link", "data-test": "login" do %>
                Login with <i class="fab fa-github fa-2x" style="vertical-align: middle; padding-left: 3px;"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </nav>
    </header>
    <div class="container px-0 px-lg-auto">

      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert" data-test="flash_info"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert" data-test="flash_danger"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main" class="main clearfix">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
