<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
    <%= csrf_meta_tag() %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-md">
        <span class="navbar-brand">Bearings</span>
        <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%= if @current_user do %>
            <ul class="navbar-nav right">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <%= link "Dailies", to: Routes.live_path(@conn, BearingsWeb.DailiesLive.Index), class: "nav-link" %>
                </li>
              </ul>
              <li class="nav-item dropdown">

                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-test="current_user">
                  <%= @current_user.name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link "Edit Template", to: Routes.template_path(@conn, :edit), class: "dropdown-item" %>
                  <%= link "Logout", to: Routes.auth_path(@conn, :delete), method: "delete", class: "dropdown-item" %>
                </div>
              </li>
            </ul>
          <% else %>
            <div class="navbar-nav">
              <%= link to: Routes.auth_path(@conn, :index, :github), class: "nav-item nav-link", "data-test": "login" do %>
                Login with <i class="fab fa-github fa-2x" style="vertical-align: middle; padding-left: 3px;"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </nav>
    </header>
    <div class="container-fluid px-lg-auto">
      <%= @inner_content %>
    </div> <!-- /container -->
  </body>
</html>
