<div class="row">
  <div class="daily-form mt-lg-4 col-lg-9 px-0 mx-auto">
    <BearingsWeb.DailiesLive.Daily.daily
      daily={@daily}
      previous_daily={@previous_daily}
      current_user={@current_user}
      supporter={@supporter}
      socket={@socket}
    />
  </div>
</div>
<p></p>
